{% extends "cources/base.html" %}
{% load static %}
{%block title %}
 {{course.name}} 
{% endblock %}

{% block content %}
<div class="course-detail">
    <img src="{% if course.image %}{{ course.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    <h1>{{course.name}}</h1>
    <h2>
        <a href="{{course.category.get_absolute_url}}">
            {{course.category}}
        </a>
    </h2>
    <p class="price"> {{course.price}}</p>
    {{course.description|linebreaks}}
</div>
{% endblock %}